<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Country Information</title>
</head>
<body>
<form action="#" th:action="@{/updateCountryById}" th:object="${country}" method="post">
    <input type="hidden" th:field="*{id}" th:value="*{id}"/>
    请输入：<input type="text" th:placeholder="countryname" th:field="*{countryname}"/>
    请输入：<input type="text" th:placeholder="countrycode" th:field="*{countrycode}"/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>